html {
    min-height: 100%;
    margin: 0;
    background: rgb(255,255,255);
    background: linear-gradient(rgba(255,255,255,1), rgb(225, 231, 239));  
}

body {
    margin: 0;
    overflow-y: hidden;
}
a:visited {
    color: inherit;
  }